.container-left{
  padding-top: 150px;
  margin-left: 20px;
  width: 22%;
  float: left;
}

.container-center{
  padding-top: 60px;
  text-align: center;
  max-width: 45%;
  float: center;
  margin: 0 auto;
}

.container-right{
  padding-top: 170px;
  margin-right: 20px;
  width: 25%;
  float: right;
}

.container{
  max-width: 100%;
}

.nav-item{
  font-size: 18px;
}

.navbar-left{
  min-height: 60px;
  margin-bottom: 0;
}

.navbar-text {
  color: #fff;
  font-size: 18px;
  padding-right: 30px;
}

.bg-image{
  width: 100%;
  height: 100%;
  background-image: url('bg_wing.jpg');
  background-size: cover;
}
.bg-mask {
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,0.6);
  background-size: cover;
}

.user-info-text{
  font-size: 18px;
}

.date-font{
  text-align: center;
  font-size: 16px;
  color: white;
}

.time-font{
  font-size: 16px;
}

.my-font{
  text-align: left;
  font-size: 16px;
  color: lime;
}

.others-font{
  text-align: left;
  font-size: 16px;
  color: aqua;
}

.nav li{
  display: table;
  border-top: 1px solid rgba(255, 255, 255, .75);
  border-left: 1px solid rgba(255, 255, 255, .75);
  border-right: 1px solid rgba(0, 0, 0, .1);
}

html {
  height: 100%;
}

body {
  background-color: #fff;
  height: 100%;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  display: inline;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;

  &:visited {
    color: #666;
  }

  &:hover {
    color: #fff;
    background-color: #000;
  }
}

th {
  padding-bottom: 5px;
}

td {
  padding: 0 5px 7px;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px -7px 0;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

label {
  display: block;
}
